@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    scroll-behavior: smooth;
}
#playlist {
    height: 60vh;
}



#header{
    height: 8vh;
    background-image: linear-gradient(to bottom right, rgb(36, 135, 233), rgb(228, 189, 189))
}

#login{
    background-color:  #57BAFF;
}

#login:hover{
    background-color: #3f9ddf;
}
#addbutton:hover, #editbutton:hover{
    background-color: #3f9ddf;
}
#trackResults {
    height: 40vh;
}

#search {
    border-color: white;
    border: .5px solid white;
    border-radius: 50px;
}

#searchresults:hover{
    border: solid 1px white;
    border-radius: 10px;
}

#playlistAndPlayer{
    height:70vh;

    
}

#songinfo{
    transition: .05s;
    opacity: .7;
}

#showartist, #showtitle {
    color: black
}

#songinfo:hover{
transition-property: border;
transition-duration: 1s;
}

#songinfo:hover{
    transform: scale(1.08);
    opacity: 1;
    border: solid .5px white;
}
#player{
    position: absolute;
    bottom: 0;
    width: 100%
}
#playbutton:hover{
    color: white;
}

#trashcan:hover{
    color: white
}

#pencil:hover{
    color: white
}

#playlistheader{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

#actualplaylist {

    position: sticky;
    top: 0;
}

#showpage{
    text-align: center;
    padding: 15px;
    height: fit-content;
    width: 20vw;
    background-color: black;
    border: solid 1px white;
    border-radius: 20px;
    color: white;
}

#showpage input{
    color: white;
    background-color: black;
    border: .5px solid white;
    border-radius: 10px;
}


/* hide scrollbar but allow scrolling */
#playlist {
    border: solid 1px white;
    border-radius: 20px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

#playlist::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#trackResults {
    height: 60vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

#trackResults::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@media all and (max-width: 1000px) {

    #page {
        height: 100vh;
    }

    #header{
        display: block;
        text-align: center;
        font-size: 70%;
    }

    #logout{
        margin-bottom: 5px;
    }

    #pageline{
        margin: 20px;

    }
    
    #playlistAndPlayer {
        display: block;
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0;
        width: 90vw;
    }
    #showpage{
    width: 75vw;
    margin: auto;
    height: 26vh;
    margin-bottom: 1vh;
    
    }
    #playlist{
        width: 75vw;
        height: 30vh;
        margin: auto;
        margin-bottom: 2vh;
    }
    
    #actualplaylist{
    height: 20vh;
    }
    
    #trackResults{
        height: 30vh;

    }

    #showartist, #showtitle {
        width: 40vw;
    }
    #search{
        width: 80vw;
        margin: auto;
        text-align: center;

    }

    #spotify {
        margin: auto;
        width: 90vw;
        height: 30vh;
    }

    #searchBar{
        height: 30vh;

    }
    
    #searchresults{
        display: flex;
        justify-content: space-around;
    }

    }