@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    scroll-behavior: smooth;
}
#playlist {
    height: 60vh;
}

#header{
    height: 8vh;
    background-image: linear-gradient(to bottom right, rgb(36, 135, 233), rgb(228, 189, 189))
}

#login{
    background-color:  #57BAFF;
}

#login:hover{
    background-color: #3f9ddf;
}
#addbutton:hover, #editbutton:hover{
    background-color: #3f9ddf;
}
#trackResults {
    height: 40vh;
}

#search {
    border-color: white;
    border: .5px solid white;
    border-radius: 50px;
}

#searchresults:hover{
    border: solid 1px white;
    border-radius: 10px;
}

#playlistAndPlayer{
    height:70vh;

    
}

#songinfo{
    transition: .05s;
    opacity: .7;
}

#showartist, #showtitle {
    color: black
}

#songinfo:hover{
transition-property: border;
transition-duration: 1s;
}

#songinfo:hover{
    transform: scale(1.08);
    opacity: 1;
    border: solid .5px white;
}
#player{
    position: absolute;
    bottom: 0;
    width: 100%
}
#playbutton:hover{
    color: white;
}

#trashcan:hover{
    color: white
}

#pencil:hover{
    color: white
}

#playlistheader{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

#actualplaylist {

    position: sticky;
    top: 0;
}

#showpage{

    z-index: 100;
}


/* hide scrollbar but allow scrolling */
#playlist {
    border: solid 1px white;
    border-radius: 20px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

#playlist::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#trackResults {
    height: 60vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

#trackResults::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
#modal{
    text-align: center;
    padding: 15px;
    height: fit-content;
    width: 20vw;
    background-color: black;
    border: solid 1px white;
    border-radius: 20px;
    color: white;
    /* margin-top: 17%;
    margin-left: 40%; */
    align-self: center;
    margin: auto;
    z-index: 100;
}

#modal input{
    color: white;
    background-color: black;
    border: .5px solid white;
    border-radius: 10px;
    width: 80%;
}

#editbutton {
    width: 50%
}
#overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(49, 49, 49, .8);
    z-index: 1
}

@media all and (max-width: 1455px){
#modal {
    width: 25%;
}

@media all and (max-width: 1162px) {
    #modal{
        width: 30%
    }
}

}

@media all and (max-width: 1000px) {

    #page {
        height: 100vh;
    }

    #header{
        display: block;
        text-align: center;
        font-size: 70%;
    }

    #logout{
        margin-bottom: 5px;
    }

    #pageline{
        margin: 20px;

    }

    #modal {
        width: 40%;
    }
    
    #playlistAndPlayer {
        height: 80%;
        display: block;
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0;
        width: 90vw;
    }

    #playlist{
        width: 75vw;
        height: 30vh;
        margin: auto;
        margin-bottom: 2vh;
    }
    
    #actualplaylist{
    height: 20vh;
    }
    
    #trackResults{
        height: 30vh;

    }

    #showartist, #showtitle {
        width: 40vw;
    }
    #search{
        width: 80vw;
        margin: auto;
        text-align: center;

    }

    #modal {
        width: 30vw;
        
    }

    #spotify {
        margin: auto;
        width: 90vw;
        height: 40vh;
    }

    #searchBar{
        height: 50vh;

    }
    
    #searchresults{
        display: flex;
        justify-content: center;
        margin: 10px;
        height: 30%

    }

    }

@media all and (max-width: 976px) {
    #modal {
        width: 40%
    }
}

@media all and (max-width: 767px) {

}

@media all and (max-width: 727px){
    #modal {
        width: 65%
    }
}

@media all and (max-width: 448px) {
    #modal {
        width: 70%
    }
    #searchresults {
        font-size: 70%
    }

}

@media all and (min-width: 374px) and (max-width: 448px){
    #modal{
        width: 80%
    }
    #header{
        font-size: 60%
    }

}